In [1]:
_author_ = 'Rahul-Chowdhury'
import pandas as pd
import sys
print(sys.version)

3.5.2 |Anaconda 4.2.0 (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)]

In [33]:
target_url = ("https://archive.ics.uci.edu/ml/machine-learning-databases/zoo/zoo.data")
zooData = pd.read_csv(target_url,header=None, prefix = "V")
print(zooData.head())

         V0  V1  V2  V3  V4  V5  V6  V7  V8  V9  V10  V11  V12  V13  V14  V15  \
0  aardvark   1   0   0   1   0   0   1   1   1    1    0    0    4    0    0
1  antelope   1   0   0   1   0   0   0   1   1    1    0    0    4    1    0
2      bass   0   0   1   0   0   1   1   1   1    0    0    1    0    1    0
3      bear   1   0   0   1   0   0   1   1   1    1    0    0    4    0    0
4      boar   1   0   0   1   0   0   1   1   1    1    0    0    4    1    0

   V16  V17
0    1    1
1    1    1
2    0    4
3    1    1
4    1    1

In [34]:
zooData = zooData.drop(zooData.columns[[0, 17]], axis=1) #removing 1st and last column
zooData.head(10)

   V1  V2  V3  V4  V5  V6  V7  V8  V9  V10  V11  V12  V13  V14  V15  V16
0   1   0   0   1   0   0   1   1   1    1    0    0    4    0    0    1
1   1   0   0   1   0   0   0   1   1    1    0    0    4    1    0    1
2   0   0   1   0   0   1   1   1   1    0    0    1    0    1    0    0
3   1   0   0   1   0   0   1   1   1    1    0    0    4    0    0    1
4   1   0   0   1   0   0   1   1   1    1    0    0    4    1    0    1
5   1   0   0   1   0   0   0   1   1    1    0    0    4    1    0    1
6   1   0   0   1   0   0   0   1   1    1    0    0    4    1    1    1
7   0   0   1   0   0   1   0   1   1    0    0    1    0    1    1    0
8   0   0   1   0   0   1   1   1   1    0    0    1    0    1    0    0
9   1   0   0   1   0   0   0   1   1    1    0    0    4    0    1    0

In [175]:
def equiv_class(col_name1, col_name2):
 values_in_col_name1 =  list(zooData[col_name1].unique()) #extracting each unique value in column1
 #print(values_in_col_name1)
 roughness_list = []
 mean_roughness = 0.0
 for val in values_in_col_name1:
    #print("Value",val)
    target_set = zooData[zooData[col_name1] == val].index.tolist() #calculating target set for each unique value in column1
    print("Target Set=", target_set)
    #print(target_set)
    temp_zooData = zooData[zooData[col_name1] == val] #temporary dataframe for each unique value in column1
    #print(temp_zooData)
    arr = list(temp_zooData.groupby([col_name1,col_name2])) #group equiv classes according to column2
    lower_approx = []
    upper_approx = []
    for name,group in arr:
        selected_list = list(group.index)
        #print("name", name)
        print("selected list =",selected_list)
        if(set(selected_list).issubset(target_set)):
            print("yes subset")
            lower_approx.append(selected_list)
        if(set(selected_list) & set(target_set)):
            upper_approx.append(selected_list)
    lower_approx_count = sum(map(len, lower_approx))
    upper_approx_count = sum(map(len, upper_approx))
    print("Lower approx=",lower_approx_count)
    print("Upper approx=",upper_approx_count) 
    roughness = 1 - (lower_approx_count/upper_approx_count)
    print("Roughness=",roughness)
    roughness_list.append(roughness)
 mean_roughness = sum(roughness_list)/float(len(roughness_list))
 print("Mean roughness",mean_roughness)
   
 #return arr


equiv_class('V5', 'V6')

Target Set= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 22, 24, 25, 26, 28, 29, 31, 32, 34, 35, 36, 38, 41, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 92, 94, 96, 98, 99]
selected list = [0, 1, 3, 4, 5, 6, 9, 10, 13, 17, 22, 24, 28, 29, 31, 32, 35, 36, 41, 44, 45, 47, 49, 50, 54, 55, 56, 62, 64, 65, 67, 68, 69, 70, 71, 72, 80, 81, 84, 88, 90, 91, 94, 96, 98, 99]
yes subset
selected list = [2, 7, 8, 12, 14, 15, 18, 19, 25, 26, 34, 38, 46, 48, 52, 53, 58, 60, 61, 63, 66, 73, 74, 75, 76, 77, 82, 85, 86, 89, 92]
yes subset
Lower approx= 77
Upper approx= 77
Roughness= 0.0
Target Set= [11, 16, 20, 21, 23, 27, 30, 33, 37, 39, 40, 42, 43, 51, 57, 59, 78, 79, 83, 87, 93, 95, 97, 100]
selected list = [11, 16, 20, 23, 27, 30, 37, 39, 40, 42, 43, 51, 57, 59, 83, 93, 95, 97, 100]
yes subset
selected list = [21, 33, 78, 79, 87]
yes subset
Lower approx= 24
Upper approx= 24
Roughness= 0.0
Mean roughness 0.0