In [1]:
_author_ = 'Rahul-Chowdhury'
import pandas as pd
import sys
print(sys.version)

3.5.2 |Anaconda 4.2.0 (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)]

In [33]:
target_url = ("https://archive.ics.uci.edu/ml/machine-learning-databases/zoo/zoo.data")
zooData = pd.read_csv(target_url,header=None, prefix = "V")
print(zooData.head())

         V0  V1  V2  V3  V4  V5  V6  V7  V8  V9  V10  V11  V12  V13  V14  V15  \
0  aardvark   1   0   0   1   0   0   1   1   1    1    0    0    4    0    0
1  antelope   1   0   0   1   0   0   0   1   1    1    0    0    4    1    0
2      bass   0   0   1   0   0   1   1   1   1    0    0    1    0    1    0
3      bear   1   0   0   1   0   0   1   1   1    1    0    0    4    0    0
4      boar   1   0   0   1   0   0   1   1   1    1    0    0    4    1    0

   V16  V17
0    1    1
1    1    1
2    0    4
3    1    1
4    1    1

In [34]:
zooData = zooData.drop(zooData.columns[[0, 17]], axis=1) #removing 1st and last column
zooData.head(10)

   V1  V2  V3  V4  V5  V6  V7  V8  V9  V10  V11  V12  V13  V14  V15  V16
0   1   0   0   1   0   0   1   1   1    1    0    0    4    0    0    1
1   1   0   0   1   0   0   0   1   1    1    0    0    4    1    0    1
2   0   0   1   0   0   1   1   1   1    0    0    1    0    1    0    0
3   1   0   0   1   0   0   1   1   1    1    0    0    4    0    0    1
4   1   0   0   1   0   0   1   1   1    1    0    0    4    1    0    1
5   1   0   0   1   0   0   0   1   1    1    0    0    4    1    0    1
6   1   0   0   1   0   0   0   1   1    1    0    0    4    1    1    1
7   0   0   1   0   0   1   0   1   1    0    0    1    0    1    1    0
8   0   0   1   0   0   1   1   1   1    0    0    1    0    1    0    0
9   1   0   0   1   0   0   0   1   1    1    0    0    4    0    1    0

In [67]:
def equiv_class(col_name1, col_name2):
 #arr =  list(zooData.loc[zooData[col_name1] == zooData[col_name2]].index)
 arr = list(zooData.groupby([col_name1, col_name2])) 
 for name,group in arr:
    print(name)
    print(list(group.index))
    
 #return arr


equiv_class('V1', 'V2')

(0, 0)
[2, 7, 8, 12, 13, 14, 15, 18, 19, 24, 25, 26, 30, 34, 38, 42, 46, 52, 53, 60, 61, 62, 66, 72, 73, 76, 77, 80, 81, 82, 85, 86, 88, 89, 90, 91, 92, 99]
(0, 1)
[11, 16, 20, 21, 23, 33, 37, 41, 43, 56, 57, 58, 59, 71, 78, 79, 83, 87, 95, 100]
(1, 0)
[0, 1, 3, 4, 5, 6, 9, 10, 17, 22, 27, 28, 29, 31, 32, 35, 36, 39, 40, 44, 45, 47, 48, 49, 50, 51, 54, 55, 63, 64, 65, 67, 68, 69, 70, 74, 75, 84, 93, 94, 96, 97, 98]